@font-face {
  font-family: "DIN Pro", sans-serif;
  src: url(/fonts/DINPro-Black.woff) format(woff);
  font-weight: 900;
}
@font-face {
  font-family: "DIN Pro", sans-serif;
  src: url(/fonts/DINPro-Bold.woff) format(woff);
  font-weight: 700;
}
@font-face {
  font-family: "Arial", sans-serif;
  src: url(/fonts/Arial-Bold.woff) format(woff);
  font-weight: 700;
}
@font-face {
  font-family: "Arial", sans-serif;
  src: url(/fonts/Arial-Regular.woff) format(woff);
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(/fonts/OpenSans-Bold.woff) format(woff);
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(/fonts/OpenSans-Regular.woff) format(woff);
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

aside, nav, footer, header, section {
  display: block;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

button {
  cursor: pointer;
}

h1 {
  font-family: "DIN Pro";
  font-size: 5rem;
  font-weight: 700;
}

h2 {
  font-family: "DIN Pro";
  font-size: 5rem;
  font-weight: 900;
  color: orange;
}

h3 {
  font-family: "Arial";
  font-size: 5rem;
  font-weight: 700;
}

h4 {
  font-family: "Arial";
  font-size: 5rem;
  font-weight: 400;
}