@font-face {
  font-family: "DIN Pro", sans-serif;
  src: url(/fonts/DINPro-Black.woff) format(woff);
  font-weight: 900;
}
@font-face {
  font-family: "DIN Pro", sans-serif;
  src: url(/fonts/DINPro-Bold.woff) format(woff);
  font-weight: 700;
}
@font-face {
  font-family: "Arial", sans-serif;
  src: url(/fonts/Arial-Bold.woff) format(woff);
  font-weight: 700;
}
@font-face {
  font-family: "Arial", sans-serif;
  src: url(/fonts/Arial-Regular.woff) format(woff);
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(/fonts/OpenSans-Bold.woff) format(woff);
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(/fonts/OpenSans-Regular.woff) format(woff);
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

aside, nav, footer, header, section {
  display: block;
}

a, a:visited {
  text-decoration: none;
  color: #232323;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

button {
  cursor: pointer;
}

.navbar {
  margin-top: 2.5rem;
}
.navbar .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .menu__list a {
  font-size: 1.125rem;
  font-family: "Arial";
  font-weight: 400;
}
.navbar .menu__list .menu__list-item {
  margin-right: 2.5rem;
}
.navbar .menu__list .menu__list-item:nth-child(4) {
  margin-left: 2.5rem;
}
.navbar .menu__list .menu__list-item:last-child {
  margin-right: 0;
}

.container {
  max-width: 77.5rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;
  background-color: orange;
}