@font-face {
    font-family: "DIN Pro", sans-serif;
    src: url(/fonts/DINPro-Black.woff) format(woff);
    font-weight: 900;
}

@font-face {
    font-family: "DIN Pro", sans-serif;
    src: url(/fonts/DINPro-Bold.woff) format(woff);
    font-weight: 700;
}

@font-face {
    font-family: "Arial", sans-serif;
    src: url(/fonts/Arial-Bold.woff) format(woff);
    font-weight: 700;
}

@font-face {
    font-family: "Arial", sans-serif;
    src: url(/fonts/Arial-Regular.woff) format(woff);
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans", sans-serif;
    src: url(/fonts/OpenSans-Bold.woff) format(woff);
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans", sans-serif;
    src: url(/fonts/OpenSans-Regular.woff) format(woff);
    font-weight: 400;
}