@import "_fonts";
@import "_reset";
@import "_vars";
@import "_header.scss";

.container {
    max-width: 77.5rem;
    width: 100%;
    margin: 0 auto;
    padding:  0 1.25rem;
    background-color: orange;
}