@import "_fonts";
@import "_reset";

h1 {
    font-family: "DIN Pro";
    font-size: 5rem;
    font-weight: 700;
}
h2 {
    font-family: 'DIN Pro';
    font-size: 5rem;
    font-weight: 900;
    color: orange;
}

h3 {
    font-family: "Arial";
    font-size: 5rem;
    font-weight: 700;
}

h4 {
    font-family: "Arial";
    font-size: 5rem;
    font-weight: 400;
}